<div id="contact">
  <div>
    <h2>Need more details? Contact us</h2>
    <p>We are here to assist. Contact us by phone, email or via our social media channels.</p>
  </div>
  <div>
    <a class="btn btn-danger" href="/contact" role="button">Contact Us</a>
  </div>
</div>
