<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About-iBusiness</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/nav.css" />
    <link rel="stylesheet" href="../assets/css/about.css" />
    <link rel="stylesheet" href="../assets/css/footer.css" />
    <link rel="stylesheet" href="../assets/css/contactDiv.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="../icon.ico">
  </head>
  <body>
    <% include partials/navbar.ejs %>
    <div class="container">
      <div class="about-page-first-section">
        <h1>ABOUT</h1>
      </div>
      <div class="about-page-second-section">
        <h2>iBusiness</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam tellus, dictum dapibus dapibus id, hendrerit ut ipsum. Maecenas consequat luctus facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce commodo enim sagittis, tincidunt urna vel, interdum odio. Nulla sed libero ante. Sed ut auctor enim. Morbi ultrices orci turpis. Fusce eget ante feugiat, posuere quam vitae, hendrerit ex. Praesent interdum finibus quam at interdum. Aliquam varius, leo sed tincidunt dignissim, ex neque fermentum nulla, quis sodales lacus arcu sit amet sapien. Mauris turpis risus, condimentum eu convallis quis, mollis vel dui. Sed consequat ante venenatis tortor sagittis lobortis.</p>
      </div>
      <div class="about-page-third-section">
      </div>
      <% include partials/contactDiv.ejs %>
      <% include partials/footer.ejs %>
    </div>
  </body>
  <script src="../assets/jquery-3.3.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="../assets/ecmascript/navbar_view_control.js"></script>
</html>
